<nav class = "navbar">
  <div class = "container">
    <div class = "navbar-header">
      <%= link_to "Cheng Wiki", root_url %>
    </div>
    <div id = "navbar" class = "navbar-collapse collpase">
      <form> 
    </div>
  </div>
</nav>
<div class = "jumbotron">
  <div class = "container">
    <h1> Cheng Wiki </h1>
    <button class = "signup">Sign Up</button>
  </div>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <h2> Free Plan </h2>
      <p> Create as many free wiki as you want </p>
    </div>
    <div class = "col-md-3">
      <h2> Premium Plan </h2>
      <p> Create private wikis </p>
    </div>
  </div>
</div>
